<h1>LISTA DE PESSOAS CADASTRADAS</h1>
<hr>
<section id="personList">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
            </tr>
        </thead>
        <tbody>
            {{registers}}
        </tbody>
    </table>
</section>
<hr>

<section id="form">
    <h3>Cadastro de Pessoas</h3>

    <form method="POST">
        <div class="row">

            <div class="form-group col-12 col-md-4">
                <label for="cpf">CPF</label>
                <input type="text" class="form-control" name="cpf" id="cpf" required>
            </div>

            <div class="form-group col-12 col-md-8">
                <label for="name">Nome</label>
                <input type="text" class="form-control" name="name" id="name" required>
            </div>

        </div>

        <div class="form-group mt-3">
            <button type="submit" class="btn btn-success">Cadastrar</button>
        </div>
    </form>
</section>